<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @tweet.status %>
</p>

<p>
  <b>Zombie:</b>
  <%= @tweet.zombie %>
</p>

<%= link_to raw('<i class="icon-chevron-left"></i>'), tweets_path, { :class => "btn", :title => "Back" } %>
<%= link_to 'Edit', edit_tweet_path(@tweet), { :class => "btn btn-primary" } %>
