<h1>Listing zombies</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Graveyard</th>
  </tr>

<% @zombies.each do |zombie| %>
  <tr>
    <td><%= zombie.name %>
		<div class="btn-group pull-right">
		    <%= link_to raw('<i class="icon-eye-open"></i>'), zombie, :class => 'btn' %>
		    <%= link_to raw('<i class="icon-pencil"></i>'), edit_zombie_path(zombie), :class => 'btn'  %>
		    <%= link_to raw('<i class="icon-trash icon-white"></i>'), zombie, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
		</div> <!-- /btn-group -->
	</td>
    <td><%= zombie.graveyard %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zombie', new_zombie_path, { :class => "btn btn-primary" } %>
